{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <!-- ここの部分は承認されたコメント件数の表示だが、現在動いていない。-->
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comment.count }}</a> 
        </div>
    {% endfor %}
{% endblock %}